@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Light mode */
  --color-bg: hsl(0, 0%, 99%);        /* Grey 50 */
  --color-element: hsl(0, 100%, 100%); /* White */
  --color-text: hsl(200, 15%, 8%);     /* Grey 950 */
  --color-input: hsl(0, 0%, 50%);      /* Grey 400 */

 
  --color-bg-dark: hsl(207, 26%, 17%); /* Blue 950 */
  --color-element-dark: hsl(209, 23%, 22%); /* Blue 900 */
  --color-text-dark: hsl(0, 100%, 100%); /* White */
}

:root {
  --radius: 0.625rem;
}

.dark {
  --color-bg: var(--color-bg-dark);
  --color-element: var(--color-element-dark);
  --color-text: var(--color-text-dark);
}

@layer base {
  body {
    @apply bg-(--color-bg) text-(--color-text) text-[14px];
    
    
  }

  nav, header, section, article, aside, footer {
    @apply bg-(--color-element);
  }

  input, select, textarea {
    @apply bg-(--color-element) text-(--color-text) border-(--color-input);
  }
}
